@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa/NexaLight.otf');
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa/NexaBold.otf');
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Nexa", Helvetica, Arial, sans-serif;
}

h1, h2 {
    color:orange;
}

/*----------Begin van de navbar------------*/

#topNav {
    font-family: "Nexa", Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;
    background-color: #000000;
    position: top;
    text-decoration: none;
}

#topNav a {
    display: block;
    float: right;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 12px 2%;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 0.3s;
}

#topNav img {
    float: left;
    width: 5%;
    max-height: 48px;
    padding: 0px 5% 0px 5%;
}

#topNav a:hover {
  background-color: orange;
}

/*----------Einde van de navbar------------*/

/*------------Begin caroussel------------*/
.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.dot {
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 16px;
    color: orange;
    font-weight: bold;
    font-size: 28px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: #f2f2f2;
    font-size: 28px;
    padding: 8px 12px;
    text-align: center;
}

.mySlides,img {
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

/*----------Einde van de caroussel------------*/


/*------------Begin content home------------*/

#contentBox1, #contentBox2, #contentBox3 {
    width: 50%;
    margin-top: 100px;
    padding: 1px 1px 1px 1px;
    margin-left: 25%;
    margin-right: 25%;
    clear: both;
}

#contentBox1 h2, #contentBox2 h2, #contentBox3 h2 {
	text-align: center;
    color:orange;
    font-family: "Nexa", Helvetica, Arial, sans-serif;
    font-size: 36px;
}

#imgHome1, #imgHome2, #imgHome3 {
    float: left;
    max-width: 30%;
    max-height: 300px;
    margin-right: 50px;
}

#contentBox1 p, #contentBox2 p, #contentBox3 p {
    margin-top: 5%;
    max-width: 60%;
    float: right;
    overflow: hidden;
}

/*----------Einde content home------------*/

/*--------- Begin opmaak Bieren --------------*/

#bieren {
	color: #ffffff;
	background-color: black;
}

#bieren h1 {
    display: block;
	font-family: Nexa, sans-serif;
	font-size: 36px;
    text-align: center;
}

#bieren h2 {
	font-family: Nexa, sans-serif;
	font-size: 24px;
	margin-top: 20px;
}

#bieren p {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

#aantal {
	height: 40px;
	width: relative;
	font-family: Nexa, sans-serif;
	font-size: 24px;
    display: block;
}

#bieren input[type=submit] {
	height: 45px;
	width: 80%;
	background-color: orange;
	border: 0px;
	font-family: Nexa, sans-serif;
	font-size: 16px;
	margin-top: 20px;
    
}

#bier1, #bier2, #bier3, #bier4, #bier5 {
	width: 100%;
	clear: both;
}

#bier6{
    width: 100%;
	clear: both;
    margin-bottom: 500px;
}

#bier1image img, #bier2image img, #bier3image img, #bier4image img, #bier5image img, #bier6image img {
    max-height: 300px;
    max-width: 120px;
	margin-left: 20%;
	margin-top: 200px;
	float: left;
}

#bier1info1, #bier2info1, #bier3info1, #bier4info1, #bier5info1, #bier6info1 {
	float: left;
	width: 35%;
	margin-top: 100px;
	margin-left: 50px;
}

#bier1info2, #bier2info2, #bier3info2, #bier4info2, #bier5info2, #bier6info2 {
	float: left;
	margin-top: 200px;
	margin-left: 10%;
}

/*--------- Einde opmaak Bieren --------------*/

/*--------- Begin opmaak Events --------------*/
#eventHead {
    text-align: center;
}

#contentBoxEvent1, #contentBoxEvent2, #contentBoxEvent3 {
    box-sizing: border-box;
    width: 50%;
    margin-top: 100px;
    padding: 1px 1px 1px 1px;
    margin-left: 25%;
    margin-right: 25%;
}

#contentBoxEvent1 h2, #contentBoxEvent2 h2, #contentBoxEvent3 h2 {
	text-align: center;
    color:orange;
    font-family: "Nexa", Helvetica, Arial, sans-serif;
    font-size: 36px;
}

#imgEvent1, #imgEvent2, #imgEvent3 {
    float: left;
    max-width: 300px;
    max-height: 300px;
    margin-right: 50px;
    margin-bottom: 100px;
}

#contentEvent input[type=submit] {
    float: right;
	height: 45px;
    max-width: 210px;
	background-color: orange;
	border: 0px;
	font-family: Nexa, sans-serif;
	font-size: 16px;
    margin-bottom: 100px;
}


/*------------Einde opmaak Events------------*/


/*------------Begin reviewpagina------------*/
#reviewContent1, #reviewContent2, #reviewContent3, #reviewContent4 {
    box-sizing: border-box;
    width: 50%;
    margin-top: 100px;
    padding: 1px 1px 1px 1px;
    margin-left: 25%;
    margin-right: 25%;
}

#reviewContent1 p, #reviewContent2 p, #reviewContent3 p, #reviewContent4 p {
    text-align: center;
    margin-right: 100px;
    margin-top: 50px;
}

#reviewContent1 h2, #reviewContent2 h2, #reviewContent3 h2, #reviewContent4 h2 {
    text-align: center;
    color:orange;
    font-family: "Nexa", Helvetica, Arial, sans-serif;
    font-size: 36px;
}

#imgReview1, #imgReview2, #imgReview3, #imgReview4 {
    float: left;
    max-width: 200px;
    max-height: 200px;
    margin-right: 50px;
}

#imgReview4 {
    margin-bottom: 100px;
}
/*------------Einde reviewpagina------------*/

/*------------Begin Accountpagina------------*/

#formHead {
    text-align: center;
}

label {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    font-family: Nexa, sans-serif;
    display: block;
    text-align: center;
    width: 30%;
    min-width: 200px;
    margin-left: 35%;
}

form input[type=text], form input[type=email], form input[type=submit]{
    height: 50px;
    width: 30%;
    min-width: 200px;
    background-color: white;
    font-family: Nexa, sans-serif;
    font-size: 16px;
    margin-left: 35%;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 20px
}

form input[type=submit] {
    background-color: orange;
    width: 20%;
    min-width: 200px;
    float: right;
    margin-right: 40%;
    margin-top: 50px;
}

#checker {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}

#nieuwsbriefLabel {
    height: 10px;
    width: 20%;
    margin-left: 40%;
}

/*------------Einde Accountpagina------------*/

/*------------Begin Winkelwagen------------*/

#product1, #product2, #product3 {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    width: 30%;
    clear: both;
}

#product1info, #product2info, #product3info {
    float: right;
    margin: 50px 10px 50px 10px;
}

#product1img, #product2img, #product3img {
    width: 120px;
    margin: 50px 10px 50px 10px;
    float: left;
}

#aantalBrute input[type=number]{
    height: 40px;
    width: 90px;
}

#product1 p, #product2 p, #product3 p {
    font-size: 1.5em;
}

#winkelwagenTotaal {
    float: right;
    margin-top: 400px;
}

#winkelwagenTotaal button{
    height: 45px;
	width: 100%;
	background-color: orange;
	border: 0px;
	font-family: Nexa, sans-serif;
	font-size: 16px;
	margin-top: 5px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}


/*------------Einde Winkelwagen------------*/

/*------------Begin footer------------*/

footer {
    display: flex;
	background-color: orange;
	font-size: 1em;
    color: #000000;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    font-weight: bold;
}
 
footer li{
    list-style: none;
}

#footerInfo {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#footerInfo {
    margin-top: 10px;
}

#footerSocials {
    flex-direction: column;
}

#footerSocials img {
    height: 20px;
    width: 20px;
}

#footerInfoItem {
    margin-top: 5px;
}

#footerInfoItem a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

#imageListSocials li{
    list-style-type: none;
    text-decoration: none;
    color: black;
    float: left;
}

